.moviesCardList {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 70px 30px;
}

.moviesCardList__gallery {
  list-style: none;
  padding: 0;

  margin: 0 auto;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 24px;

  justify-items: center;
  transition: 0.2s ease-in;
}

.moviesCardList__moreButton {
  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  outline: none;
  border: none;
  cursor: pointer;

  transition: 0.2s ease-in;
}

.moviesCardList__moreButton:hover, .moviesCardList__moreButton:focus {
  letter-spacing: 1px;
  font-weight: 500;
  background-color: hsl(0, 0%, 96%);
}

@media screen and (max-width: 990px) {
  .moviesCardList__gallery {
    grid-template-columns: repeat(2, minmax(45%, 1fr));
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .moviesCardList {
    padding: 70px 30px 80px;
  }
}

@media screen and (max-width: 650px) {
  .moviesCardList {
    padding: 90px 10px 80px;
  }

  .moviesCardList__gallery {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 16px;
  }
}